@model ViewModel.GameBoardModel
@using Services

@{
    IEnumerable<IEnumerable<BattleShips.Model.NavyBattlePiece>> board = Model.GameBoard(Model._navyBattlePieces);
}
<style type="text/css">
    .Water {
        background-color: deepskyblue;
        color: deepskyblue;
    }

    .DeadWater {
        background-color: skyblue;
        color: skyblue;
    }

    .Ship {
        background-color: darkblue;
        color: darkblue;
    }

    .DeadShip {
        background-color: darkred;
        color: darkred;
    }
</style>

<table class="row justify-content-between">
    <tbody>
        @foreach (IEnumerable<BattleShips.Model.NavyBattlePiece> row in board)
        {
            <tr>
                @foreach (Model.NavyBattlePiece navyBattlePiece in row)
                {
                <td class="border @navyBattlePiece.PieceState" data-placement="top" data-toggle="tooltip">
                    <a asp-page-handler="FireClick" asp-route-Id="@navyBattlePiece.Id"><button class="btn"/>.</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
@*<p class="text-primary">@Model.UserGame.User.UserName</p>*@

@*asp-page-handler="FireClick"*@
