@page
@model BattleShips.CreateGameModel
@{
    ViewData["Title"] = "CreateGame";
}

<h1>CreateGame</h1>
<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Nastavení hry</h1>
            <div class="info-box">
                <p>
                    <a>Konec umisťování lodí</a>
                </p>
            </div>
        </header>


        <!--Table-->

    </main>
</div>
