@page
@model BattleShips.CreateGameModel
@{
    ViewData["Title"] = "CreateGame";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Nastavení hry</h1>
            <div class="info-box">
                <p>
                    
                </p>
            </div>
        </header>

        <a class="btn btn-success">Dokončení nastavení hry</a>
    </main>
</div>
