@page
@model BattleShips.CreateGameModel
@{
    ViewData["Title"] = "CreateGame";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Nastavení hry</h1>
            <div class="info-box">
                <p>
                    <h3>Výběr počtu lodí</h3>
                    @foreach (var item in Model.Ships)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <th><Select asp-for="Ships.Count"></Select></th>
                        </tr>
                    }
            </p>
</div>
        </header>

        <a class="btn btn-success">Dokončení nastavení hry</a>
    </main>
</div>
