@page
@model BattleShips.Pages.Game.InGameModel
@{
    ViewData["Title"] = "InGame";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Hrací plocha</h1>
        </header>
        <table class="row justify-content-between">
            @*<tbody>
                @foreach (var row in Model.battlePieces)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            <td class="border" data-placement="top" data-toggle="tooltip" title="(@x; @y)" style="background-color:@Model.Color"><button asp-page-handler="AddShip" class="btn"></button></td>
                        }
                    </tr>
                }
            </tbody>

            <tbody>
                @foreach (var row in Model.battlePieces)
                {
                    <tr>
                        @foreach (var column in row)
                        {
                            <td class="border" data-placement="top" data-toggle="tooltip" title="(@x; @y)" style="background-color:@Model.Color"><button asp-page-handler="AddShip" class="btn"></button></td>
                        }
                    </tr>
                }
            </tbody>*@
        </table>
    </main>
</div>

