@page
@model BattleShips.Pages.Game.InGameModel
@{
    ViewData["Title"] = "InGame";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Hrací plocha</h1>
        </header>

        <partial name="_GameBoard" model="Model.GameBoardModels" />
    </main>
</div>

