@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Umístění lodí</h1>
        </header>

        <partial name="_ShipPlacement" model="Model.GameBoard" />

        <div class="info-box mt-2">
            <p>
                <a class="btn btn-success" asp-page-handler="Start">Konec umisťování lodí</a>
            </p>
        </div>
    </main>
</div>

