@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Umístění lodí</h1>
            <div class="info-box">
                <p>
                    <a class="btn btn-success">Konec umisťování lodí</a>
                </p>
            </div>
        </header>
        <table>
            <tbody>
                @for (var x = 0; x < 10; x++)
                {
                    <tr>
                        @for (var y = 0; y < 10; y++)
                        {
                            <td style="background-color:dodgerblue"><button class="btn">@x @y</button> <!--Dodělat styly--></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>

