@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<div class="container">
    <main role="main" class="pb-3">
        <header class="game-header">
            <h1>Umístění lodí</h1>
        </header>
            <table>
                <tbody>
                    @for (var x = 0; x < 10; x++)
                    {
                    <tr>
                        @for (var y = 0; y < 10; y++)
                        {
                            <td class="border" data-placement="top" data-toggle="tooltip" title="(@x; @y)" style="background-color:@Model.Color"><button asp-page-handler="AddShip" class="btn"></button></td> <!--Předělat polička na NavyBattlePiece-->
                        }
                    </tr>
                    }
                </tbody>
            </table>
        <div class="info-box">
            <p>
                <a class="btn btn-success" asp-page-handler="Start">Konec umisťování lodí</a>
            </p>
        </div>
    </main>
</div>

