.Water {
    background-color: deepskyblue;
}
.DeadWater {
    background-color: skyblue;
}
.Ship {
    background-color: darkblue;
}
.DeadShip {
    background-color: darkred;
}
.board-piece-generated {
    background-color: gray;
}