.Water {
    background-color: skyblue;
    color: skyblue;
}

.DeadWater {
    background-color: deepskyblue;
    color: deepskyblue;
}

.Ship {
    background-color: gray;
    color: gray;
}

.DeadShip {
    background-color: darkred;
    color: darkred;
}

.battleField a {
    display: block;
    height: 100%;
}

.battleField {
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
}

.hidden {
    color: white;
}
